{
  "extends": "standard",

  "env": {
    "browser": true,
    "mocha": true,
    "node": false
  },

  "globals": {
    "document": true,
    "window": true
  },

  "rules": {
    "semi": [2, "always"],
    "require-jsdoc": [2, {
      "require": {
        "FunctionDeclaration": true,
        "MethodDefinition": true,
        "ClassDeclaration": false
      }
    }]
  }
}
