{
  "extends": "standard",

  "env": {
    "browser": true,
    "mocha": true,
    "node": false
  },

  "globals": {
    "document": true,
    "window": true
  },

  "rules": {
    "semi": [2, "always"],
    "space-before-function-paren": [0],
    "no-multi-spaces": [0]
  }
}
